# Copia este archivo como .env y rellena los valores reales
# cp .env.example .env

# URL del webhook de n8n
VITE_N8N_WEBHOOK_URL=https://nexotechx.com/webhook/TU_WEBHOOK_ID

# ElevenLabs API Key
VITE_ELEVENLABS_API_KEY=tu_api_key_aqui

# ElevenLabs Voice ID
VITE_ELEVENLABS_VOICE_ID=tu_api_key_aqui
